body {

    background: rgba(136, 136, 211, 0.925);
    font: normal 15pt Arial;

}

header {
    color: aliceblue;
    text-align: center;

}

section {

    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    display: block;
    
}

footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;

}
.titulo{
    color: black;
    text-align: center;
}

.botao{
    background-color: rgb(199, 10, 10);
    border-radius: 10px;
    padding: 15px;
    }

.container{
    padding: 20px;
    max-width: 400px;
    display: block;
}


.container h1, input, textarea{
   text-align: center;
   padding-bottom: 3px;
   display: block;
   border-radius: 5px;
   
}
.container label{
    text-align: left;
    padding-bottom: 3px;
 
    
 }